@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&display=swap');

:root{
    --font-family1: 'Anton', sans-serif;
    --font-family2: 'Roboto', sans-serif;
    --color_1: #003865;
    --color_2: white;
    --color_3: hsla(0, 0%, 99%, 0.212);
    --color_4: black;
    --color_5: hsl(0, 0%, 80%);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.navbar{
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 5;
   overflow: auto;
  padding-top: 5px;
}
.navbar .right_navbar{
    display: flex;
    gap: 1em;
    font-size: 15px;
    margin-right: 1em;
}

.literally_the_body_xd{
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: var(--color_2);
    background-image: url(./31308-azul.jpg);
    width: 100vw;
    overflow: hidden;
}

.literally_the_body_xd .Home{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100vw;
}
.literally_the_body_xd .Home .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 2em 0;
    font-size: 2em;
}
.literally_the_body_xd .Home .centered{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

}
.literally_the_body_xd .Home .my_image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}
.literally_the_body_xd .Home .my_image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    
   
}
.literally_the_body_xd .Home .social_networks{
    display: flex;
    justify-content: center;
    width: 100%; 
}
.literally_the_body_xd .Home .social_networks{
    display: flex;
    gap: 1em;
}
.literally_the_body_xd .Home .social_networks .social a{
z-index: 2;
display: flex;
align-items: flex-end;
position: relative;
top: 7em;
right: 1em;
font-size: 1em;
color: var(--color_4);

}

.literally_the_body_xd .Home .social_networks .social img{  
    width: 100px;
    margin-bottom: -8em;
}
.literally_the_body_xd .About_me{
    display: grid;
    grid-template-rows: 100px repeat(3,1fr);
    padding: 6em 2em;
    gap: 2em;
    
}
.literally_the_body_xd .About_me .box:nth-child(1){
    grid-row: 1/2;
    justify-self: center;
    font-size: 4em;
    color: var(--color_2);
    
}
.literally_the_body_xd .About_me .box:nth-child(2){
    grid-row: 2/3;
    letter-spacing: 1px;
    line-height: 1.3em;
    background-color: var(--color_4);
    border: 1px solid var(--color_2);
    color: var(--color_2);
}
.literally_the_body_xd .About_me .box:nth-child(3){
    grid-row: 3/4;
    letter-spacing: 1px;
    line-height: 1.3em;
    background-color: var(--color_4);
    border: 1px solid var(--color_2);
    color: var(--color_2);
    
}
.literally_the_body_xd .About_me .box:nth-child(4){
    grid-row: 4/5;
    letter-spacing: 1px;
    line-height: 1.3em;
    background-color: var(--color_4);
    border: 1px solid var(--color_2);
    color: var(--color_2);
    
}
.literally_the_body_xd .About_me .box{
    height: 400px;
}
.literally_the_body_xd .About_me .box .topic{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    padding: 1em;
}
.literally_the_body_xd .About_me .box p{
    padding: 0 2em 4em 2em;
    line-height: 1.7em;
    color: var(--color_5)
    
}

.literally_the_body_xd .My_skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding: 2em;
    overflow: hidden;
}
.My_skills h1{
    margin-top: 0.5em;
}
.literally_the_body_xd .My_skills .languages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.medium_size{
    font-size: 4em;
}
.literally_the_body_xd .My_skills .languages .top{
    display: flex;
    width: 200px;
    justify-content: center;
}
.literally_the_body_xd .My_skills .languages .top img{
    width: 100px;
    position: relative;
    left: 4.1em;
}
.literally_the_body_xd .My_skills .languages .bot img{
    width: 100px;
    position: relative;
    left: 4.1em;
}
.literally_the_body_xd .My_skills .languages img:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
}

.literally_the_body_xd .Portfolio{
    display: flex;
    flex-direction: column;
    padding: 6em 2em;
    gap: 9em;
    position: relative;
    bottom: 8em;
}
.literally_the_body_xd .Portfolio .position{
   display: flex;
   justify-content: center;
}
.literally_the_body_xd .Portfolio .work{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
   
}
.literally_the_body_xd .Portfolio .work .img_1{
    background-color: var(--color_4);
    width: 250px;
    height: 250px;
}
.literally_the_body_xd .Portfolio .work .img_2{
    background-color: var(--color_4);
    width: 250px;
    height: 250px;
}
.literally_the_body_xd .Portfolio .work img{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    border-top: 3px solid var(--color_4);
    border-left: 3px solid var(--color_4);
}
.literally_the_body_xd .Contact{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
    bottom: 5em;
}

.literally_the_body_xd .Contact .title_contact{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.literally_the_body_xd .Contact .write_me{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 600px;
}
.literally_the_body_xd .Contact .write_me .name_email{
   display: flex; 
   flex-direction: column;
    height: 220px;
    gap: 2em;
    padding: 0 2em;
}
.literally_the_body_xd .Contact .write_me .name_email .name input{
    height: 50px;
    width: 100%;
    padding: 2em;
    font-size: 16px;
    background-color: var(--color_3);
}
.literally_the_body_xd .Contact .write_me .name_email .name ::placeholder{
    color: var(--color_2);
}
.literally_the_body_xd .Contact .write_me .name_email .email input{
    height: 50px;
    width: 100%;
    padding: 2em;
    font-size: 16px;
    background-color: var(--color_3);
}
.literally_the_body_xd .Contact .write_me .name_email .email ::placeholder{
    color: var(--color_2);
}
.literally_the_body_xd .Contact .write_me .message{
    height: 170px;
    width: 100%;
    padding: 0 2em;
}
.literally_the_body_xd .Contact .write_me .message textarea{
    height: 100%;
    width: 100%;
    padding: 2em;
    font-size: 16px;
    background-color: var(--color_3);
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid var(--color_4);
    border-left: 2px solid var(--color_4);
}
.literally_the_body_xd .Contact .write_me .message textarea::placeholder{
    color: var(--color_2);
}
.literally_the_body_xd .Contact .write_me .send{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50px;
    padding: 0 2em;
    
}
.literally_the_body_xd .Contact .write_me .send button{
   height: 100%;
   width: 100px;
   background-color: var(--color_3);
   border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    border-top: 2px solid var(--color_4);
    border-left: 2px solid var(--color_4);
    color: var(--color_2);
    cursor: pointer;
}
.literally_the_body_xd .Contact{
    overflow: hidden;
}
.literally_the_body_xd .Contact .contact_me{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding: 0 2em;
    position: relative;
   bottom: 2em;
    align-content: space-evenly;
}
.literally_the_body_xd .Contact .contact_me .phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.literally_the_body_xd .Contact .contact_me .phone>p{
    font-size: 3em;
}
.literally_the_body_xd .Contact .contact_me .phone .call{
    display: flex;
    gap: 1.5em; 
    height: 50px;
    align-items: center;
}
.literally_the_body_xd .Contact .contact_me .phone img{
    width: 20px;
    height: 20px;   
}
.literally_the_body_xd .Contact .contact_me .phone .call p{
    font-size: 1.2em ;
    color: var(--color_4);
}   
.literally_the_body_xd .Contact .contact_me .mail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.literally_the_body_xd .Contact .contact_me .mail>p{
    font-size: 3em;
}
.literally_the_body_xd .Contact .contact_me .mail .write{
    display: flex;
    gap: 1.5em; 
    height: 50px;
    align-items: center;
}
.literally_the_body_xd .Contact .contact_me .mail img{
    width: 20px;
    height: 20px;   
}
.literally_the_body_xd .Contact .contact_me .mail .write p{
    font-size: 1.2em ;
    color: var(--color_4);
}
.literally_the_body_xd .Contact .contact_me .github{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.literally_the_body_xd .Contact .contact_me .github a {
  width: 110px; 
  height: 90px;
}
.literally_the_body_xd .Contact .contact_me .github a img{
    width: 100%;
    height: 100%;
}


.literally_the_body_xd .footer{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
    height: 3em;
    background-color: var(--color_1);
    color: var(--color_2);
    background-image: url(./31308-azul.jpg);
}
@media (min-width:750px) {
    .navbar{
        background-color: black;
        color: white;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 5;
       overflow: hidden;
    }
    .navbar .right_navbar{
        display: flex;
        gap: 3em;
        font-size: 20px;
        margin-right: 1em;
    }
    .literally_the_body_xd .Home .social_networks{
        display: flex;
        justify-content: center;
        width: 100%; 
    }
    .literally_the_body_xd .Home .social_networks{
        display: flex;
        gap: 6em;
    }
    .literally_the_body_xd .Home .social_networks .social a{
    z-index: 2;
    display: flex;
    align-items: flex-end;
    position: relative;
    top: 4em;
    right: 1em;
    font-size: 2em;
    color: var(--color_4);
    
    }
    
    .literally_the_body_xd .Home .social_networks .social img{  
        width: 150px;
        margin-bottom: -8em;
    }
    .literally_the_body_xd .About_me{
        display: grid;
        grid-template-rows: 150px 1fr;
        grid-template-columns: repeat(3,1fr);
        padding: 6em 2em;
        gap: 2em;
        position: relative;
        top: 2em;
        
    }
    .literally_the_body_xd .About_me .box:nth-child(1){
        grid-row: 1/2;
        grid-column: 1/4;
        justify-self: center;
        font-size: 4em;
        color: var(--color_2);
        
    }
    .literally_the_body_xd .About_me .box:nth-child(2){
        grid-row: 2/3;
        grid-column: 1/2;
        letter-spacing: 1px;
        line-height: 1.3em;
        background-color: var(--color_4);
        border: 1px solid var(--color_2);
        color: var(--color_2);
    }
    .literally_the_body_xd .About_me .box:nth-child(3){
        grid-row: 2/3;
        grid-column: 2/3;
        letter-spacing: 1px;
        line-height: 1.3em;
        background-color: var(--color_4);
        border: 1px solid var(--color_2);
        color: var(--color_2);
        
    }
    .literally_the_body_xd .About_me .box:nth-child(4){
        grid-row: 2/3;
        grid-column: 3/4;
        letter-spacing: 1px;
        line-height: 1.3em;
        background-color: var(--color_4);
        border: 1px solid var(--color_2);
        color: var(--color_2);
        
    }
    .literally_the_body_xd .About_me .box{
        height: 500px;
    }
    .literally_the_body_xd .About_me .box .topic{
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        padding: 1em;
    }
    .literally_the_body_xd .About_me .box p{
        padding: 0 2em 4em 2em;
        line-height: 1.7em;
        color: var(--color_5)
        
    }
    .literally_the_body_xd .My_skills .languages{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        width: 100%;
    }
    .medium_size{
        font-size: 4em;
    }
    .literally_the_body_xd .My_skills .languages .top{
        width: 50%;
    }
    .literally_the_body_xd .My_skills .languages .top img{
        width: 150px;
        position: relative;
        left: 4.1em;
    }
    .literally_the_body_xd .My_skills .languages .bot{
        width: 50%;
    }
    .literally_the_body_xd .My_skills .languages .bot img{
        width: 150px;
        position: relative;
        left: 4.1em;
    }
    .literally_the_body_xd .My_skills .languages img:hover{
        -webkit-transform:scale(1.2);transform:scale(1.2);
    }
    .literally_the_body_xd .Portfolio{
        display: flex;
        
        padding: 6em 2em;
        gap: 9em;
        position: relative;
        bottom: 8em;
    }
    .literally_the_body_xd .Portfolio .position{
       display: flex;

       justify-content: center;
    }
    .literally_the_body_xd .Portfolio .work{
        display: flex;
        flex-direction: row;
        gap: 2em;
        justify-content: space-evenly;
        align-items: center;
       
    }
    .literally_the_body_xd .Portfolio .work .img_1{
        background-color: var(--color_4);
        width: 250px;
        height: 250px;
    }
    .literally_the_body_xd .Portfolio .work .img_2{
        background-color: var(--color_4);
        width: 250px;
        height: 250px;
    }
    .literally_the_body_xd .Portfolio .work img{
        width: 100%;
        height: 100%;
        border-bottom: 3px solid gray;
        border-right: 3px solid gray;
        border-top: 3px solid var(--color_4);
        border-left: 3px solid var(--color_4);
    }
    .literally_the_body_xd .Contact{
        display: flex;
        flex-direction: column;
        gap: 2em;
        position: relative;
        bottom: 5em;
    }
    
    .literally_the_body_xd .Contact .title_contact{
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
    .literally_the_body_xd .Contact .write_me{
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 50%;
        height: 600px;
    }
    .literally_the_body_xd .Contact .write_me .name_email{
       display: flex; 
       flex-direction: column;
        height: 220px;
        gap: 2em;
        padding: 0 2em;
    }
    .literally_the_body_xd .Contact .write_me .name_email .name input{
        height: 50px;
        width: 100%;
        padding: 2em;
        font-size: 16px;
        background-color: var(--color_3);
    }
    .literally_the_body_xd .Contact .write_me .name_email .name ::placeholder{
        color: var(--color_2);
    }
    .literally_the_body_xd .Contact .write_me .name_email .email input{
        height: 50px;
        width: 100%;
        padding: 2em;
        font-size: 16px;
        background-color: var(--color_3);
    }
    .literally_the_body_xd .Contact .write_me .name_email .email ::placeholder{
        color: var(--color_2);
    }
    .literally_the_body_xd .Contact .write_me .message{
        height: 170px;
        width: 100%;
        padding: 0 2em;
    }
    .literally_the_body_xd .Contact .write_me .message textarea{
        height: 100%;
        width: 100%;
        padding: 2em;
        font-size: 16px;
        background-color: var(--color_3);
        border-bottom: 2px solid gray;
        border-right: 2px solid gray;
        border-top: 2px solid var(--color_4);
        border-left: 2px solid var(--color_4);
    }
    .literally_the_body_xd .Contact .write_me .message textarea::placeholder{
        color: var(--color_2);
    }
    .literally_the_body_xd .Contact .write_me .send{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 50px;
        padding: 0 2em;
        
    }
    .literally_the_body_xd .Contact .write_me .send button{
       height: 100%;
       width: 100px;
       background-color: var(--color_3);
       border-bottom: 2px solid gray;
        border-right: 2px solid gray;
        border-top: 2px solid var(--color_4);
        border-left: 2px solid var(--color_4);
        color: var(--color_2);
        cursor: pointer;
    }
    .literally_the_body_xd .Contact{
        overflow: hidden;
    }
    .literally_the_body_xd .Contact .contact_me{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        padding: 0 2em;
        position: relative;
       bottom: 2em;
        align-content: space-evenly;
        width: 50%;
    }
    .literally_the_body_xd .Contact .contact_me .phone{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .literally_the_body_xd .Contact .contact_me .phone>p{
        font-size: 3em;
    }
    .literally_the_body_xd .Contact .contact_me .phone .call{
        display: flex;
        gap: 1.5em; 
        height: 50px;
        align-items: center;
    }
    .literally_the_body_xd .Contact .contact_me .phone img{
        width: 20px;
        height: 20px;   
    }
    .literally_the_body_xd .Contact .contact_me .phone .call p{
        font-size: 1.2em ;
        color: var(--color_4);
    }   
    .literally_the_body_xd .Contact .contact_me .mail{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .literally_the_body_xd .Contact .contact_me .mail>p{
        font-size: 3em;
    }
    .literally_the_body_xd .Contact .contact_me .mail .write{
        display: flex;
        gap: 1.5em; 
        height: 50px;
        align-items: center;
    }
    .literally_the_body_xd .Contact .contact_me .mail img{
        width: 20px;
        height: 20px;   
    }
    .literally_the_body_xd .Contact .contact_me .mail .write p{
        font-size: 1.2em ;
        color: var(--color_4);
    }
    .literally_the_body_xd .Contact .contact_me .github{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        right: 3em;
    }
    .literally_the_body_xd .Contact .contact_me .github a {
      width: 110px; 
      height: 90px;
    }
    .literally_the_body_xd .Contact .contact_me .github a img{
        width: 100%;
        height: 100%;
    }
    .lo_de_abajo{
        display: flex;
        flex-direction: row;
    }
    
    .literally_the_body_xd .footer{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: center;
        height: 3em;
        background-color: var(--color_1);
        color: var(--color_2);
        background-image: url(./31308-azul.jpg);
    }
}